/* #nav-header {
  padding: 12px 12px 0 12px;
  box-shadow: 0 3px 11px 1px rgba(102,102,102,.2);
  background-color: #fff;

  ul.nav-list {
    margin: 0;
    list-style: none;

    li.nav-list-item {
      display: inline-block;
      margin-right: 20px;
      padding: 16px 10px;
      cursor: pointer;
      outline: none !important;

      a {
        text-decoration: none;
        color: inherit;
      }

      &:hover  {
        background-color: #eee;
      }
    }

    .nav-list-item-active {
      border-bottom: 3px solid #673ab7;
    }
  }

  ul.nav-list-font {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
  }
} */
